//Google Fonts Import 
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

//Variables for color scheme//
$main-color:#171717;
$secondary-color: #512bd4;
$light-color: #ededed;
//SCSS Codes//
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.container{
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1440px;
    width: 100%;
}

body,
html{
    position: relative;
    height: 100%;
    background: $main-color;
    font-family: 'Space Grotesk',sans-serif;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100px;
    margin-top: 40px;
    padding: 15px;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            padding: 10px;
        }
        .nav__main{
            display: flex;
            justify-content: center;
            align-items: center;
            .nav__item{
                margin: 0 35px;
                .nav__link{
                    font-size: 18px;
                    color: $light-color;
                    font-weight: 500;
                    line-height: 25px;
                }
            }
        }
        .nav__btn{
            display: flex;
            justify-content: center;
            align-items: center;
            .lang__btn{
                margin-right: 40px;
                button{
                    border: 2px solid $secondary-color;
                    background: transparent;
                    color: $light-color;
                    padding: 13px 23px;
                    border-radius: 8px;
                    font-family: 'Space Grotesk';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    cursor: pointer;
                }
            }
            .donate__btn{
                button{
                    background-color: $secondary-color;
                    color: $light-color;
                    padding: 13px 23px;
                    border-radius: 8px;
                    font-family: 'Space Grotesk';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}

.social__media{
    position: absolute;
    left: 0;
    top: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
    a{
        font-size: 24px;
        .bx{
            color: $light-color;
            margin: 15px 0;
        }
    }
}

.ellipse__effect{
    position: absolute;
    width: 668px;
    height: 668px;
    left: -242px;
    top: 980px;
    background: #7300F9;
    filter: blur(527.5px);
}
.ellipse__effect-2{
    position: absolute;
    width: 668px;
    height: 668px;
    left: 1135px;
    top: 3200px;
    background: #7300F9;
    filter: blur(527.5px);
}

.shape-1{
    position: absolute;
    width: 113px;
    height: 82px;
    right: 20px;
    top: 500px;
}
.shape-2{
    position: absolute;
    width: 113px;
    height: 82px;
    left: 61px;
    top: 666px;
}
main{
    margin-top: 150px;
    .hero__section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 9;
        .hero__left{
            width: 50%; 
            .hero__header{
                h1{
                    color: $light-color;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 90px;
                    line-height: 115px;
                }
            }
            .hero__text{
                margin-top: 30px;
                p{
                    color: $light-color;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 38px;
                }
            }
            .hero__btn{
                margin-top: 40px;
                button{
                    color: $light-color;
                    background-color: $secondary-color;
                    padding: 13px 23px;
                    font-size: 16px;
                    font-family: 'Space Grotesk',sans-serif;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }
        }
        .hero__right{
            width: 45%;
        }
    }

    .about__section{
        margin-top: 150px;
        .about__header{
            text-align: center;
            h1{
                font-style: normal;
                font-weight: 500;
                font-size: 64px;
                line-height: 82px;
                color: $light-color;
                // &::after{
                //     content: '';
                //     position: absolute;
                //     height: 1px;
                //     background-color: $secondary-color;
                //     width: 350px;
                //     bottom: -40px;
                //     right: 41%;
                // }
            }
        }
        .about__text{
            margin-top: 65px;
            text-align: center;
            width: 100%;
            p{
                color: $light-color;
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 61px;
                text-align: center;
            }
        }
        .about__services{
            margin-top: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .service{
                color: $light-color;
                margin: 40px;
                .service__header{
                    h1{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 48px;
                        line-height: 61px;
                    }
                }
                .service__text{
                    margin-top: 15px;
                    max-width: 511px;
                    p{
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 28px;
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }
    .skills__section{
        margin-top: 150px;
        .skills__header{
            text-align: center;
            h1{
                font-style: normal;
                font-weight: 500;
                font-size: 64px;
                line-height: 82px;
                color: $light-color;
            }
        }
        .skills__text{
            margin-top: 50px;
            p{
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 31px;
                color: rgba(255, 255, 255, 0.5);
            }
        }
        .skills__counter{
            margin-top: 110px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .works{
                color: $light-color;
                .up{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 51px;
                }
                .bottom{
                    margin-top: 15px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 80px;
                    line-height: 122px;
                }
            }
        }

        .software__skills{
            margin-top: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            flex: 1 0;
            .skill__box{
                display: flex;
                justify-content: center;
                margin: 15px;
                background-color: #000;
                width: 200px;
                height: 200px;
                border-radius: 8px;
                -webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.51); 
                box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.51);
                img{
                    width: 90px;
                }
            }
        }
    }
    .resume__section{
        margin-top: 150px;
        .resume__header{
            text-align: center;
            h1{
                color: $light-color;
                font-style: normal;
                font-weight: 500;
                font-size: 64px;
                line-height: 82px;
            }
        }
        .resume__wrapper{
            margin-top: 150px;
            display: flex;
            justify-content: space-between;
            position: relative;
             &::after{
                 position: absolute;
                 content: '';
                 width: 2px;
                 height: 650px;
                 background-color: $secondary-color;
                 left: 49%;
             }
            .resume__left{
                color: $light-color;
                width: 43%;
                .education__header{
                    h1{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 61px;
                    }
                }
                .education__wrapper{
                    margin-top: 75px;
                    position: relative;
                    .school__name{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h1{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 32px;
                            line-height: 41px;
                            /* identical to box height */
                            text-decoration-line: underline;
                            &::before{
                                content: '';
                                position: absolute;
                                width: 40px;
                                height: 40px;
                                background-color: $secondary-color;
                                left: -60px;
                                top: 10px;
                                border-radius: 50%;
                            }
                        }
                        h3{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 26px;
                            /* identical to box height */

                            text-decoration-line: underline;
                        }
                    }
                    .school__about{
                        margin-top: 10px;
                        p{
                            font-style: normal;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
            .resume__right{
                color: $light-color;
                width: 43%;
                h1{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 61px;
                }
                .experience__wrapper{
                    margin-top: 75px;
                    position: relative;
                    .work__name{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h1{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 32px;
                            line-height: 41px;
                            /* identical to box height */
                            text-decoration-line: underline;
                            &::before{
                                content: '';
                                position: absolute;
                                width: 40px;
                                height: 40px;
                                background-color: $secondary-color;
                                left: -60px;
                                top: 10px;
                                border-radius: 50%;
                            }
                        }
                        h3{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 26px;
                            /* identical to box height */

                            text-decoration-line: underline;
                        }
                    }
                    .work__about{
                        margin-top: 10px;
                        p{
                            font-style: normal;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
        .resume__btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 75px;
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $secondary-color;
                color: $light-color;
                padding: 10px 40px;
                font-size: 24px;
                font-weight: 400;
                font-family: 'Space Grotesk',sans-serif;
                border-radius: 8px;
                border: none;
                outline: none;
                cursor: pointer;
                .icon{
                    font-size: 30px;
                    margin-left: 10px;
                    img{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .portfolio__section{
        margin-top: 150px;
        .portfolio__header{
            text-align: center;
            h1{
                font-style: normal;
                font-weight: 500;
                font-size: 64px;
                line-height: 82px;
                color: $light-color;
            }
        }
        .portfolio__carousel{
            margin-top: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .portfolio__item{
                margin: 0 35px;
                max-width: 400px;
                .portfolio__img{
                    img{
                        width: 400px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .portfolio__name{
                    margin-top: 5px;
                    width: 100%;
                    h2{
                        color: $light-color;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 61px;
                    }
                }
                .portfolio__category{
                    margin-top: 20px;
                    span{
                        color: $light-color;
                        background-color: $secondary-color;
                        padding: 9px 15px;
                        border-radius: 7px;
                    }
                }
            }
        }
    }
}
